* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Kanit", serif;
}

nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  background: transparent;
}

nav ul {
  display: flex;
  padding-right: 5rem;
  justify-content: end;
  gap: 4rem;
}

nav ul li {
  font-size: 1.5em;
  cursor: pointer;
  color: black;
  font-weight: 600;
}

nav ul li:hover {
  color: #49832e;
  text-decoration: underline;
}

/* main */
main {
  height: 60rem;
  width: 99.99%;
}

#hero-img {
  width: 99.99%;
  height: 60em;
  position: absolute;
  top: 0;
  z-index: -1;
}

.hero-text {
  position: relative;
  left: 5em;
  width: 60%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-text h2 {
  font-size: 7rem;
  font-family: "Dancing Script", serif;
}

.hero-text h1 {
  font-size: 7rem;
  font-weight: 600;
}

.hero-text span {
  color: #49832e;
}

.hero-text a {
  background: #49832e;
  padding: 1em 3em;
  display: inline-block;
  width: 22%;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all 0.4s;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.24);
}

.hero-text a:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.507);
}
.hero-text {
  animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Foods Section */
.foods {
  height: 20rem;
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.foods section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.212), 0px 2px 4px rgba(0, 0, 0, 0.219),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.foods section:hover {
  transform: scale(1.1);
}

.arrow-img {
  width: 23rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.arrow-img img {
  height: 6em;
}

.arrow-img i {
  padding: 1.1em;
  margin-left: 2em;
  border-radius: 51px;
  background-color: #49832e;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.342);
}

.three-cards {
  width: 100%;
  padding-left: 1em;
}

.three-cards h2 {
  font-size: 2.5em;
}

.three-cards h3 {
  font-size: 1.5em;
}

.three-cards p {
  color: #49832e;
}

/* Order Our Best */
.order-our-best {
  width: 85%;
  margin: 0 auto;
  padding-top: 7em;
  padding-bottom: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.heading {
  width: 85%;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 600;
}

/* Product Card */
.productTitle {
  font-weight: 400;
  font-size: 1.7rem;
  color: black;
}

.productCard {
  width: 24%;
  height: 25em;
  display: flex;
  padding: 1em;
  flex-direction: column;
  transition: all 0.2s;
  justify-content: space-between;
}

.productCard:hover {
  transform: translateY(5px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.212), 0px 2px 4px rgba(0, 0, 0, 0.219),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.productImage {
  height: 13em;
}

.brilliant-restuarnt {
  height: 20rem;
  width: 100%;
  background: #49832e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.brilliant-restuarnt h2 {
  font-size: 4.5rem;
  color: white;
}

.brilliant-restuarnt a {
  padding: 1rem 4rem;
  color: white;
  background: #000;
}

/* Footer */
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h2 {
  color: #333;
}

.footer-section p,
.footer-section ul {
  color: #666;
}

.footer-section ul {
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #49832e;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}

/* Contact Us */
.contact-us {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.contact-container {
  max-width: 800px;
  margin: auto;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.detail-item {
  flex: 1;
  margin: 20px;
  text-align: left;
}

.detail-item h3 {
  color: #333;
}

.detail-item p {
  color: #666;
}

.icon {
  width: 50px;
  height: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #49832e; /* Darker shade on hover */
}

/* About Us */
.about-us {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

.about-container {
  max-width: 800px;
  margin: auto;
}

.about-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.about-image {
  margin-top: 20px;
}

.main-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional styling */
}

.about-container h3 {
  color: #49832e; /* Highlighting section headers */
}

.input-field {
  width: 85%;
  margin: 0 auto;
  padding: 3em;
  gap: 0.5em;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.input-field input {
  padding: 0.6em;
}

.input-field button {
  padding: 0.8em 1em;
  outline: none;
  background: #49832e;
}

.productCard a {
  background-color: #49832e;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.342);
  cursor: pointer;
}

/* responsive */
.eachres {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 90%;
  margin: 0 auto;
}
.eachres h1 {
  color: #49832e;
}
.eachres section {
  width: 50%;
  height: 33rem;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.eachres section img {
  width: 50%;
}
.eachres section h2 {
  color: #49832e;
}
.eachres section ul li {
  list-style: circle;
}
.receipeImg {
  height: 20em;
  border-radius: 50px;
}

.load {
  text-align: center;
}

.icoback i {
  font-size: 2em;
  padding: 0.7em;
  border-radius: 50px;
  color: white;
  background-color: #49832e;
  position: relative;
  left: 89%;
  top: 1em;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid #49832e;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: #49832e;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}

.indian {
  position: relative;
  left: 7%;
  top: 2em;
  z-index: +1;
}
.veg-non {
  display: inline;
  position: relative;
  top: 10em;
  left: 82.7%;
}
.veg-non button {
  padding: 0.8em 1.2em;
  background: #f8f8f8;
}

@media screen and (max-width: 1450px) {
  .order-our-best {
    width: 95%;
  }
}
@media screen and (max-width: 1265px) {
  .productTitle {
    font-size: 1.5rem;
  }

  .productCard {
    width: 32%;
  }
}
@media screen and (max-width: 845px) {
  .productTitle {
    font-size: 1.3rem;
  }

  .productCard {
    width: 45%;
  }
  .order-our-best {
    margin: 0 auto;
  }
  .veg-non {
    left: 30%;
  }
}

@media screen and (max-width: 1290px) {
  .hero-text {
    width: 60%;
  }

  .hero-text h2 {
    font-size: 6rem;
  }

  .hero-text h1 {
    font-size: 6rem;
  }

  .hero-text a {
    width: 25%;
  }
}
@media screen and (max-width: 1110px) {
  .hero-text {
    width: 70%;
  }
  .hero-text h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1100px) {
  .veg-non {
    left: 43%;
  }
  .input-field {
    width: 100%;
    gap: 0.5em;
    justify-content: center;
  }
  .foods {
    display: none;
  }
  .input-field input {
    width: 40%;
  }
}
@media screen and (max-width: 900px) {
  .hero-text a {
    width: 35%;
  }
}
@media screen and (max-width: 799px) {
  .hero-text {
    width: 90%;
    position: static;
    margin: 0 auto;
    align-items: center;
  }
  .hero-text h1 {
    font-size: 5rem;
  }
  .hero-text p {
    text-align: center;
  }
  
  nav {
    height: 3rem;
    justify-content: center;
  }

  nav ul {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-right: 0rem;
  }

  nav ul li {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 620px) {
  .hero-text {
    width: 90%;
  }
  .hero-text h2 {
    font-size: 4.5em;
  }
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-text p {
    font-size: 1em;
  }
}
@media screen and (max-width: 550px) {
  .productTitle {
    font-size: 1.5rem;
  }

  .productCard {
    width: 90%;
  }
  .order-our-best {
    width: 100%;
    margin: 0 auto;
  }
  .veg-non {
    left: 23%;
  }
  .input-field input {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .hero-text {
    width: 90%;
    position: static;
    margin: 0 auto;
    align-items: center;
  }
  .hero-text h2 {
    font-size: 3.5em;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-text p {
    font-size: 0.8em;
    text-align: center;
  }
  .hero-text a {
    width: 54%;
  }

}
